/*
CREATE OR ALTER PROCEDURE [dbo].[ResurrectionOfLostData]
	@SchemaTableName	NVARCHAR(100)
	,@HASBlobData		BIT = 0
	,@IsDebugMode		BIT = 1


	--Reading Tran log https://www.sqlservercentral.com/articles/reading-sql-servers-transaction-log
	--StackOverflow discussion https://stackoverflow.com/questions/69981365/how-to-fix-a-stored-procedure-that-can-recover-deleted-data

AS
 
BEGIN
--*/

	-- free memory to avoid error: There is insufficient system memory in resource pool 'default' to run this query
	-- DBCC FREESYSTEMCACHE('ALL')
	-- DBCC FREESESSIONCACHE;

	-- 1st block to run
	DECLARE
		@DBName NVARCHAR(50) =  DB_NAME()
		,@DateFrom DATETIME = DATEADD(MINUTE,-20,GETDATE())
		,@DateTo DATETIME = GETDATE()
	--/* 
		,@SchemaTableName NVARCHAR(100) = 'dbo.Bits'
		,@IsDebugMode		BIT = 1
	--*/

	--SET @DateFrom = ISNULL(@DateFrom, DATEADD(HOUR,-1,GETDATE()))
	--SET @DateTo = ISNULL(@DateTo, GETDATE())
 
	IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES 
		WHERE [TABLE_SCHEMA] + '.' + [TABLE_NAME] = @SchemaTableName
		AND TABLE_CATALOG = @DBName
		)
	BEGIN
		RAISERROR (N'There is no table %s in DB %s', 16, 1, @SchemaTableName, @DBName);
		--RETURN
	END


	/************************ Work with Tran log ***********************/

	BEGIN
		DROP TABLE IF EXISTS #AllocationUnitIds
		SELECT 
			p.[partition_id],
			p.[object_id],
			au.[Allocation_unit_id], 
			au.[type], 
			au.[type_desc]
		INTO #AllocationUnitIds
		FROM sys.allocation_units au
		INNER JOIN sys.partitions p 
			ON (au.type IN (1, 3) AND p.hobt_id = au.container_id) -- 1 = IN_ROW_DATA, 3 = ROW_OVERFLOW_DATA
			OR (au.type = 2 AND p.partition_id = au.container_id)  -- 2 = LOB_DATA
		WHERE p.object_id = OBJECT_ID('' + @SchemaTableName + '')

		-- SELECT * FROM #AllocationUnitIds 

		-- Get the first row of transaction from tran log (LOP_BEGIN_XACT) - most time consuming operation in SP - memory-intensive
		DROP TABLE IF EXISTS #TransactionWithDelete
		SELECT DISTINCT 
			f.[Transaction ID], f.[Transaction Name], f.[Current LSN], f.[Begin Time]
		INTO #TransactionWithDelete
		FROM sys.fn_dblog(NULL, NULL) f 
		WHERE f.[Context] IN ('LCX_NULL')				-- Common with transaction control operations (LOP_BEGIN_XACT, LOP_COMMIT_XACT)
			AND f.[Operation] IN ('LOP_BEGIN_XACT')  
			AND f.[Transaction Name] IN (
									'DELETE',			-- If run outside of explicit transaction (BEGIN TRAN)
									'user_transaction'  -- If wrapped in a generic BEGIN TRAN block
									)
			AND CAST(f.[Begin Time] AS DATETIME) BETWEEN @DateFrom AND @DateTo

		-- SELECT * FROM #TransactionWithDelete order by CAST([Begin Time] AS DATETIME) desc
	END
	-- end of 1st block to run

	-- 2d block to run
	BEGIN
		-- Get StartLSN in VARCHAR - first parameter to sys.fn_dblog - for faster search
		DECLARE @StartLSN NVARCHAR(25) = (SELECT TOP 1 [Current LSN] FROM #TransactionWithDelete ORDER BY CAST([Begin Time] AS DATETIME) DESC)
	
		DECLARE @N1 BIGINT = CONVERT(VARBINARY, SUBSTRING(@StartLSN, 1, 8),2),
				@N2 BIGINT = CONVERT(VARBINARY, SUBSTRING(@StartLSN, 10, 8),2),
				@N3 BIGINT = CONVERT(VARBINARY, SUBSTRING(@StartLSN, 19, 4),2)

		SELECT @StartLSN = CAST(@N1 AS VARCHAR) + ':' + CAST(@N2 AS VARCHAR) + ':' + CAST(@N3 AS VARCHAR)


		/*
		SUBSTRING(f.[RowLog Contents 0], 1, 1) = Status Bits A (first byte) bitmap values:
		Bit	Hex Value	Meaning
		0	0x01	Row is a primary record (not a ghost record). If this bit is 0, the row may be a ghosted (deleted) record.
		1	0x02	Row is a ghost record. Ghost records are soft-deleted rows marked for garbage collection.
		2	0x04	Row is a forwarded record. Used in heaps when a row moves due to an update, leaving a forwarding pointer in the original location.
		3	0x08	Row hAS a forwarding pointer. Indicates the row is a pointer to another record in a heap.
		4	0x10	Row is part of a heap and hAS a versioning pointer (Bit A). Used for snapshot isolation and versioning in tempdb.
		5	0x20	Row has NULL bitmap. Indicates that the row hAS a NULL bitmap, meaning one or more columns may contain NULL values.
		6	0x40	Row has variable-length columns. If set, the row contains variable-length column data (like VARCHAR, NVARCHAR, VARBINARY).
		7	0x80	Row has been compressed. Used when row-level data compression is enabled.
		*/


		DROP TABLE IF EXISTS #MyTransaction
		SELECT
			f.[Transaction ID] AS [TransactionId]			-- The ID of the transaction
			,au.[partition_id] AS [PartitionId]
			,au.[object_id] AS [ObjectId]
			,f.[AllocUnitID] AS [AllocUnitId] 				-- Metadata about the affected table and partition
			,au.[type_desc] AS [TypeDesc]				    -- Describes the type of allocation unit (e.g., IN_ROW_DATA, LOB_DATA)
			,t.[Begin Time] AS [BeginTime]					-- The time when the transaction started	
			,f.[Context]
			,f.[Operation]
			,f.[RowLog Contents 0]
			
			-- BLOB info
			/*
			,'		' AS Delimiter
			,CASE 
				WHEN f.[Description] LIKE '%Deallocated%' 
				THEN RIGHT(f.[Description], LEN(f.[Description]) - (CHARINDEX('Deallocated',f.[Description], 1) + LEN('Deallocated'))) 
			 END AS [DeallocateSpaceLOBConsolidatedPageID]  -- Extracts page ID for deallocated space (if applicable)
			,f.[PAGE ID] AS [TextMixLOBConsolidatedPageID]
			,CAST(SUBSTRING(f.[RowLog Contents 0], 15, LEN(f.[RowLog Contents 0])) AS VARBINARY(8000)) AS [RowLogHexValue] 
			,CONVERT(INT,SUBSTRING(f.[RowLog Contents 0],7,2)) AS [LinkId]  --Extracts a link ID from the log contents
			*/
		INTO #MyTransaction
		FROM sys.fn_dblog(@StartLSN, NULL) f
		INNER JOIN #AllocationUnitIds au 
			ON f.[AllocUnitId] = au.allocation_unit_id
		INNER JOIN 	(										-- Get all transactions with DELETE
						SELECT DISTINCT [Transaction ID], [Begin Time]  
						FROM #TransactionWithDelete
					) t
			ON f.[Transaction ID] = t.[Transaction ID]
		WHERE 1=1 
			AND 
			(
				f.[Context] IN (		  -- IN_ROW_DATA
					'LCX_MARK_AS_GHOST',  -- DELETE logs this before background ghost cleanup task physically removes it
					'LCX_HEAP',			  -- DELETE against a heap-structured table
					'LCX_CLUSTERED'	      -- DELETE against a clustered index
								)   
			 OR f.[Context] IN  (  -- BLOB DATA TYPEs
					'LCX_PFS',     -- Allocation/deallocation events during DELETE that require updating PFS bitmaps
					'LCX_TEXT_MIX' -- DELETE of large text/blob fields that are stored outside the main row on mixed pages
								) 						 
			 OR f.[Operation] IN ('LOP_DELETE_ROWS')	-- IN_ROW_DATA
			 OR f.[Operation] IN  ('LOP_MODIFY_ROW') 	-- BLOB DATA TYPEs
			 /*
			 OR SUBSTRING(f.[RowLog Contents 0], 1, 1) 
			 	IN (0x10,  -- Row versioning is enabled - TBD - check
			 		0x30,  -- + Row has NULL bitmap 
			 		0x70)  -- + Row has variable-length columns
			*/
			 OR f.[Description] LIKE '%Deallocated%'
			)
			AND f.[Context] NOT IN ('LCX_GAM')
			


		-- SELECT * FROM #MyTransaction f


		-- IN_ROW_DATA
		DROP TABLE IF EXISTS #InRowData
		SELECT
			f.[RowLog Contents 0] 
			,f.[PartitionId]
			,f.[ObjectId]
			,OBJECT_NAME(f.[ObjectId]) AS [TableName]
			,f.[AllocUnitId] 
			,f.[TypeDesc]
			,f.[TransactionId]
		INTO #InRowData
		--need sysadmin permission; tran log file cleaning is disabled, while sys.fn_dblog is running
		FROM #MyTransaction f
		INNER JOIN #AllocationUnitIds au 
			ON f.[AllocUnitId] = au.allocation_unit_id
			AND au.[type] = 1 -- IN_ROW_DATA
		WHERE 1=1 
			AND f.[Context] IN ('LCX_MARK_AS_GHOST', 'LCX_HEAP', 'LCX_CLUSTERED') 
			AND f.[Operation] IN ('LOP_DELETE_ROWS') 
			--AND SUBSTRING(f.[RowLog Contents 0], 1, 1) IN (0x10,0x30,0x70) 
			AND f.[TypeDesc] = 'IN_ROW_DATA'

		-- SELECT * FROM #InRowData select * from #MyTransaction
	END
	-- end of 2d block to run

	/************************ Work with Data page ***********************/
	/*
	--Fixed-length
	1 Byte : Status Bit A
	1 Byte : Status Bit B
	2 Bytes : Fixed length size
	n Bytes : Fixed length data
	2 Bytes : Total Number of Columns
	(#cols/8) Bytes : NULL Bitmap (1 bit for each column AS 1 indicates that the column is null and 0 indicate that the column is not null)
	--Var
	2 Bytes : Number of variable-length columns
	2 Bytes : Offset where Col1 data ends
	...
	2 Bytes : Offset where ColM data ends
	V1 Bytes: Col1 data
	...
	VM Bytes: ColM data
	*/


	--3d block to run
	DROP TABLE IF EXISTS #ColumnDataHexValue 
	CREATE TABLE #ColumnDataHexValue 
	(
		[RowId]            INT,
		[RowLogContents]   VARBINARY(MAX),
		[Name]             SYSNAME,
		[DataTypeName]	   VARCHAR(50),
		[NullBit]          SMALLINT,
		[SystemTypeId]     TINYINT,
		[BitPos]           TINYINT,
		[Precision]        TINYINT,
		[Scale]            TINYINT,
		[IsNull]           INT,
		[ColumnValueStartPosition]  INT,
		[ColumnLength]     INT,
		[ColumnHexValue]   VARBINARY(MAX)
	)

	/************************ Loop by rows. Start ***********************/
	BEGIN

		/**********Check for IN_ROW_DATA. Start************/

		BEGIN

			DECLARE 
				@FixedLengthOffset	INT,
				@TotalNumOfCols		INT,
				@TotalNullBitmapSize INT,
				@VarNumOfCols		INT   -- = M var-length columns
			
			-- 2 bytes store FIxedLengthOffset after Status Bit A + Status Bit B => start from 3rd byte
			SELECT
				@FixedLengthOffset = dbo.UDF_GetIntFromNext2Bytes([RowLog Contents 0], 3) 
			FROM #InRowData

			-- 2 bytes after Fixed-length data store TotalNumOfCols => start from @FixedLengthOffset + 1
			SELECT
				@TotalNumOfCols = dbo.UDF_GetIntFromNext2Bytes([RowLog Contents 0], @FixedLengthOffset + 1) 
			FROM #InRowData

			-- X bytes after TotalNumOfCols store NULLBitmap
			SELECT
				@TotalNullBitmapSize = CEILING(@TotalNumOfCols /8.0)
			FROM #InRowData

			-- 2 bytes after TotalNullBitmapSize = = M var-length columns
			SELECT 
				@VarNumOfCols = dbo.UDF_GetIntFromNext2Bytes([RowLog Contents 0], @FixedLengthOffset + 2 + @TotalNullBitmapSize + 1) 
			FROM #InRowData

			  --SELECT @FixedLengthOffset, @TotalNumOfCols, @TotalNullBitmapSize, @VarNumOfCols


	   
			DROP TABLE IF EXISTS #BitTable
			CREATE TABLE #BitTable 
			(
				[ID] INT,
				[BitValue] INT
			)
			--Create table to set the bit position of one byte.
 
			INSERT INTO #BitTable
			SELECT 0,2 UNION ALL
			SELECT 1,2 UNION ALL
			SELECT 2,4 UNION ALL
			SELECT 3,8 UNION ALL
			SELECT 4,16 UNION ALL
			SELECT 5,32 UNION ALL
			SELECT 6,64 UNION ALL
			SELECT 7,128

			-- select * from #BitTable


			--Create table to collect the row data.
			DROP TABLE IF EXISTS #DeletedRows
			CREATE TABLE #DeletedRows 
			(
				[RowId]					INT IDENTITY(1,1),
				[PartitionId]			BIGINT,	
				[ObjectId]				INT,
				[RowLogContents]		VARBINARY(8000),
				[StatusBitA]			VARBINARY(2),
				[StatusBitB]			VARBINARY(2),
				[FixedLengthOffset]		SMALLINT,
				[FixedLengthData]		VARBINARY(8000),
				[TotalNumOfCols]		SMALLINT,
				[TotalNullBitmapSize]	SMALLINT,
				[TotalNullBitMapBytes]	VARBINARY(8000),
				[TotalNullBitMapBits]	VARCHAR(8000),  
				[VarNumOfCols]			SMALLINT,
				[VarColsOffsetArray]	VARBINARY(8000),
				[VarLengthDatAStart]	SMALLINT
			)

			/*
			...
			2 Bytes : Number of variable-length columns
			2 * M Bytes : Column offset array (2 * M variable-length columns)
			X Bytes : Data for variable-length columns
			*/
			;WITH RowData AS (
			SELECT 
				[PartitionId]
				,[ObjectId]

				-- Fixed-length
				,[RowLog Contents 0] AS RowLogContents 
				,SUBSTRING([RowLog Contents 0], 1,1) AS [StatusBitA]
				,SUBSTRING([RowLog Contents 0], 2,1) AS [StatusBitB]
				,@FixedLengthOffset AS [FixedLengthOffset]
				,SUBSTRING([RowLog Contents 0], 5, @FixedLengthOffset - 4) AS [FixedLengthData] 
				,@TotalNumOfCols AS [TotalNumOfCols] --2 bytes after Fixed-length data
				,@TotalNullBitmapSize AS TotalNullBitmapSize
				,SUBSTRING([RowLog Contents 0], @FixedLengthOffset + 3, @TotalNullBitmapSize) AS [TotalNullBitMapBytes] --next (#col/8) bytes after [TotalNumOfCols]
				
				-- Var-length
				,@VarNumOfCols AS [VarNumOfCols] --next 2 bytes after [TotalNullBitMapBytes] = M var-length columns
				--[VarColsOffsetArray] = next bytes 2 * [VarNumOfCols]
				,SUBSTRING([RowLog Contents 0], @FixedLengthOffset + 3 + @TotalNullBitmapSize + 2, @VarNumOfCols * 2) AS [VarColsOffsetArray] 
				,@FixedLengthOffset + 3 + @TotalNullBitmapSize + @VarNumOfCols * 2 + 1 AS [VarLengthDataStart] --next bytes after [VarColsOffsetArray]
			FROM #InRowData
			),
 
			--Generate sequence from 1 to 256 here
			N1 (n) AS (SELECT 1 UNION ALL SELECT 1),
			N2 (n) AS (SELECT 1 FROM N1 AS X, N1 AS Y),
			N3 (n) AS (SELECT 1 FROM N2 AS X, N2 AS Y),
			N4 (n) AS (SELECT ROW_NUMBER() OVER(ORDER BY X.n)
					   FROM N3 AS X, N3 AS Y) 
  
			INSERT INTO #DeletedRows
			SELECT
				[PartitionId]
				,[ObjectId]
				,[RowLogContents]
				,[StatusBitA]
				,[StatusBitB]
				,[FixedLengthOffset]
				,[FixedLengthData]
			
				,[TotalNumOfCols]
				,[TotalNullBitmapSize]
				,[TotalNullBitMapBytes]
				,[TotalNullBitMapBits] = (REPLACE(STUFF --Get the NULL value against each column (1 means NULL, 0 means NOT NULL)
				(
					(
						SELECT ',' +
						(CASE 
							WHEN bt.[Id] = 0 
							THEN CONVERT(NVARCHAR(1),(SUBSTRING([TotalNullBitMapBytes], [n], 1) % 2))  
							ELSE CONVERT(NVARCHAR(1),((SUBSTRING([TotalNullBitMapBytes], [n], 1) / [BitValue]) % 2))
							END) --AS NullBitMap     
						FROM N4 AS Nums --sequence from 1 to 256
						--Use this technique to repeate the row till the no of bytes of the row
						INNER JOIN RowData AS rd ON [n] <= [TotalNullBitmapSize]
						CROSS JOIN #BitTable bt
						WHERE rd.[RowLogContents] = D.[RowLogContents] 
						ORDER BY [RowLogContents], [n] ASC 
						FOR XML PATH('')
					),1,1,''
				),',',''))
				,[VarNumOfCols]
				,[VarColsOffsetArray]
				,[VarLengthDataStart]
			FROM RowData D


			IF NOT EXISTS (SELECT 1 FROM #DeletedRows) 
			BEGIN
				RAISERROR (N'There are no tran log records for this table', 16, 1);
				--RETURN
			END

			-- SELECT * FROM #DeletedRows

 

			-- Get each column details
			DROP TABLE IF EXISTS #ColumnData
			SELECT 
				dr.[RowId]
				,dr.[RowLogContents]
				,c.[Name]
				,t.name AS [DataTypeName]
				,cols.leaf_offset
				,CASE 
					WHEN cols.leaf_offset > 0 
					THEN (SELECT TOP 1 ISNULL(SUM(CASE 
											WHEN C.leaf_offset > 1
											THEN C.max_length 
											ELSE 0 
										  END),0) 
						 FROM sys.system_internals_partition_columns C 
						 WHERE cols.partition_id = C.partition_id AND C.leaf_null_bit < cols.leaf_null_bit) + 5
					ELSE 0
				END AS [FixColumnValueStartPosition]
				,CASE 
					WHEN cols.leaf_offset > 0 
					THEN 0
					ELSE cols.leaf_offset*-1
				END AS [VarNextColOrder]
				,CASE 
					WHEN cols.leaf_offset = -1  --first var column
					THEN [VarLengthDatAStart]
					ELSE dbo.UDF_GetIntFromNext2Bytes([VarColsOffsetArray], 2 * ((cols.leaf_offset*-1) - 1) - 1)
				END AS [VarColumnValueStartPosition]
				,dbo.UDF_GetIntFromNext2Bytes([VarColsOffsetArray], (2 * cols.leaf_offset*-1) - 1) AS [VarColumnValueEndPosition]
				,CASE 
					WHEN cols.leaf_offset > 0 
					THEN c.max_length 
					ELSE 0
				END AS [ColumnLength]
				,cols.leaf_null_bit AS [NullBit]
				,cols.System_Type_Id AS [SystemTypeId]
				,cols.leaf_bit_position AS [BitPos]
				,ISNULL(c.precision, cols.precision) AS [Precision]
				,ISNULL(c.scale, cols.scale) AS [Scale]
				,SUBSTRING(dr.TotalNullBitMapBits, cols.leaf_null_bit, 1) AS [IsNull]

			INTO #ColumnData
			FROM #DeletedRows dr
			INNER JOIN sys.system_internals_partition_columns cols --!undocumented!
				ON dr.PartitionId = cols.partition_id 
			LEFT JOIN sys.columns c 
				ON dr.ObjectId = c.object_id AND c.column_id = cols.partition_column_id
			LEFT JOIN sys.types t
				ON c.system_type_id = t.system_type_Id AND c.user_type_id = t.user_type_id

			-- SELECT * FROM #ColumnData --where VarColumnValueEndPosition > 0 order by [VarColumnValueStartPosition]


			DECLARE @32768 INT = POWER(2,15) --Max SMALLINT + 1

			--DROP TABLE IF EXISTS #ColumnDataHexValue 
			INSERT INTO #ColumnDataHexValue
			--This part is for fixed-length data columns
			SELECT
				cols.[RowId]
				,cols.[RowLogContents]
				,cols.[Name]
				,cols.[DataTypeName]
				,cols.[NullBit]
				,cols.[SystemTypeId]
				,cols.[BitPos]
				,cols.[Precision]   -- for NUMERIC
				,cols.[Scale]		-- for NUMERIC
				,cols.[IsNull]
				,cols.[FixColumnValueStartPosition] AS [ColumnValueStartPosition]
				,cols.[ColumnLength]
				,CASE 
					WHEN cols.[IsNull] = 0 
					THEN SUBSTRING([RowLogContents], [FixColumnValueStartPosition], cols.[ColumnLength])
				END AS [ColumnHexValue]
			FROM #ColumnData cols
			WHERE cols.[FixColumnValueStartPosition] > 0

			UNION ALL

			--This part is for var-length data columns
			SELECT
				cols.[RowId]
				,cols.[RowLogContents]
				,cols.[Name]
				,cols.[DataTypeName]
				,cols.[NullBit]
				,cols.[SystemTypeId]
				,cols.[BitPos]
				,cols.[Precision]
				,cols.[Scale]
				,cols.[IsNull]
				,(CASE 
					WHEN cols.[IsNull] = 0 
					THEN (CASE 
							WHEN [VarColumnValueEndPosition] > @32768
							THEN [VarColumnValueEndPosition] - @32768  --32768
							ELSE [VarColumnValueEndPosition]
					END)
				END) AS [ColumnValueStartPosition]

				,(CASE 
					WHEN cols.[IsNull] = 0  
					THEN (CASE
							WHEN [VarColumnValueEndPosition] > @32768 
							THEN (CASE WHEN cols.DataTypeName In ('image','text','ntext') THEN 16 ELSE 24 END)
 
							WHEN [VarColumnValueEndPosition] < @32768 AND [VarColumnValueStartPosition] < @32768
							THEN [VarColumnValueEndPosition] - [VarColumnValueStartPosition]
 
							WHEN [VarColumnValueEndPosition] < @32768 AND [VarColumnValueStartPosition] > @32768
							THEN @32768 + [VarColumnValueEndPosition] - [VarColumnValueStartPosition]
						  END)
				END) AS [ColumnLength]

				,(CASE 
					WHEN cols.[IsNull] = 0 
					THEN SUBSTRING ([RowLogContents],

					--from = [ColumnValueStartPosition]-[ColumnLength]
					(CASE 
						WHEN [VarColumnValueEndPosition] > @32768
						THEN [VarColumnValueEndPosition] - @32768
						ELSE [VarColumnValueEndPosition]
					END)
					- 
					(CASE 
						WHEN [VarColumnValueEndPosition] > @32768
						THEN (CASE WHEN cols.DataTypeName In ('image','text','ntext') THEN 16 ELSE 24 END) 

						WHEN [VarColumnValueEndPosition] < @32768 AND [VarColumnValueStartPosition] < @32768
						THEN [VarColumnValueEndPosition] - [VarColumnValueStartPosition]
 
						WHEN [VarColumnValueEndPosition] < @32768 AND [VarColumnValueStartPosition] > @32768
						THEN @32768 + [VarColumnValueEndPosition] - [VarColumnValueStartPosition]
					END)
					+ 1, 
		
					--length
					(CASE 
						WHEN [VarColumnValueEndPosition] > @32768 
						THEN (CASE WHEN cols.DataTypeName In ('image','text','ntext') THEN 16 ELSE 24 END) 
				
						WHEN [VarColumnValueEndPosition] < @32768 And [VarColumnValueStartPosition] < @32768
						THEN ABS([VarColumnValueEndPosition] - [VarColumnValueStartPosition])
				
						WHEN [VarColumnValueEndPosition] < @32768 And [VarColumnValueStartPosition] > @32768
						THEN @32768 + [VarColumnValueEndPosition] - [VarColumnValueStartPosition]
					END)
					)
				 END) AS [ColumnHexValue]
			FROM #ColumnData cols
			WHERE cols.[VarColumnValueEndPosition] > 0
			ORDER BY [NullBit]


			-- SELECT * FROM #ColumnDataHexValue order by NullBit



			/*
			UPDATE ColumnHexValue for Bit datatype  
			We need this to overwrite [ColumnHexValue] = SUBSTRING([RowLogContents], [FixColumnValueStartPosition], cols.[ColumnLength]) from above
			Doesn't work for 9th bit
			*/
			DECLARE @BitColumnByte AS INT
			SELECT @BitColumnByte = CONVERT(INT, ceiling(COUNT(*)/8.0)) FROM #ColumnDataHexValue WHERE [DataTypeName] = 'bit'
 
			;WITH N1 (n) AS (SELECT 1 UNION ALL SELECT 1),
			N2 (n) AS (SELECT 1 FROM N1 AS X, N1 AS Y),
			N3 (n) AS (SELECT 1 FROM N2 AS X, N2 AS Y),
			N4 (n) AS (SELECT ROW_NUMBER() OVER(ORDER BY X.n)
					   FROM N3 AS X, N3 AS Y)
			,CTE AS (
			SELECT 
				RowLogContents 
				,NullBit
				,BitMap = CONVERT(VARBINARY(1),CONVERT(INT,SUBSTRING((REPLACE(STUFF((
					SELECT ',' +
						CASE 
							WHEN bt.[Id]=0 
							THEN CONVERT(NVARCHAR(1),(SUBSTRING([ColumnHexValue], [n], 1) % 2))  
							ELSE CONVERT(NVARCHAR(1),((SUBSTRING([ColumnHexValue], [n], 1) / [BitValue]) % 2)) 
						END --AS NullBitMap
					FROM N4 AS Nums
					INNER JOIN #ColumnDataHexValue AS c 
						ON n <= @BitColumnByte AND [DataTypeName] = 'bit' AND [BitPos] = 0
					CROSS JOIN #BitTable bt
					WHERE c.[RowLogContents] = d.[RowLogContents] 
					ORDER BY [RowLogContents], [n] ASC FOR XML PATH('')),1,1,''),',','')), [BitPos] + 1, 1)))
			FROM #ColumnDataHexValue d 
			WHERE [DataTypeName] = 'bit'
			)

			--SELECT * FROM CTE

			--SELECT * FROM #BitTable
 
			UPDATE A 
			SET ColumnHexValue = b.BitMap
			FROM #ColumnDataHexValue a
			INNER JOIN CTE b 
				ON a.RowLogContents = b.RowLogContents
				AND a.NullBit = b.NullBit
			WHERE ColumnHexValue IS NOT NULL

		END

		--IF @IsDebugMode = 1
		--	SELECT * FROM #ColumnDataHexValue ORDER BY NullBit


		/**********Check for IN_ROW_DATA. End************/

	END
	-- end of 3d block to run
	/************************ Loop by rows. End ***********************/



	--Final values
	DROP TABLE IF EXISTS #FinalData
	CREATE TABLE #FinalData
	(
		[RowId]			 INT,
		[SystemTypeId]   INT,
		[FieldName]		 VARCHAR(MAX),
		[FieldValue]	 NVARCHAR(MAX),
		[FieldLength]	 INT,
		[ColumnHexValue]       VARBINARY(max),
		[RowLogContents] VARBINARY(8000)
	)
	
	--Convert the data with respect to its datatype defined AS SystemTypeId 
	INSERT INTO #FinalData
	SELECT 
		RowId,
		SystemTypeId,
		NAME,
		CASE
		 WHEN SystemTypeId IN (231, 239) THEN  LTRIM(RTRIM(CONVERT(NVARCHAR(max),ColumnHexValue)))  --NVARCHAR ,NCHAR
		 WHEN SystemTypeId IN (167,175) THEN  LTRIM(RTRIM(CONVERT(VARCHAR(max),ColumnHexValue)))  --VARCHAR,CHAR
		 WHEN SystemTypeId IN (35) THEN  LTRIM(RTRIM(CONVERT(VARCHAR(max),ColumnHexValue))) --Text
		 WHEN SystemTypeId IN (99) THEN  LTRIM(RTRIM(CONVERT(NVARCHAR(max),ColumnHexValue))) --nText 
		 WHEN SystemTypeId = 48 THEN CONVERT(VARCHAR(MAX), CONVERT(TINYINT, CONVERT(BINARY(1), REVERSE (ColumnHexValue)))) --TINY INTEGER
		 WHEN SystemTypeId = 52 THEN CONVERT(VARCHAR(MAX), CONVERT(SMALLINT, CONVERT(BINARY(2), REVERSE (ColumnHexValue)))) --SMALL INTEGER
		 WHEN SystemTypeId = 56 THEN CONVERT(VARCHAR(MAX), CONVERT(INT, CONVERT(BINARY(4), REVERSE(ColumnHexValue)))) -- INTEGER
		 WHEN SystemTypeId = 127 THEN CONVERT(VARCHAR(MAX), CONVERT(BIGINT, CONVERT(BINARY(8), REVERSE(ColumnHexValue))))-- BIG INTEGER
		 WHEN SystemTypeId = 61 Then CONVERT(VARCHAR(MAX),CONVERT(DATETIME,CONVERT(VARBINARY(8000),REVERSE (ColumnHexValue))),100) --DATETIME
		 WHEN SystemTypeId = 58 Then CONVERT(VARCHAR(MAX),CONVERT(SMALLDATETIME,CONVERT(VARBINARY(8000),REVERSE(ColumnHexValue))),100) --SMALL DATETIME
		 WHEN SystemTypeId = 108 THEN CONVERT(VARCHAR(MAX),CONVERT(NUMERIC(38,20), CONVERT(VARBINARY,CONVERT(VARBINARY(1),Precision)+CONVERT(VARBINARY(1),Scale))+CONVERT(VARBINARY(1),0) + ColumnHexValue)) --- NUMERIC
		 WHEN SystemTypeId = 106 THEN CONVERT(VARCHAR(MAX), CONVERT(DECIMAL(38,20), CONVERT(VARBINARY,CONVERT(VARBINARY(1),Precision)+CONVERT(VARBINARY(1),Scale))+CONVERT(VARBINARY(1),0) + ColumnHexValue)) --- DECIMAL
		 WHEN SystemTypeId IN (60,122) THEN CONVERT(VARCHAR(MAX),Convert(MONEY,Convert(VARBINARY(8000),Reverse(ColumnHexValue))),2) --MONEY,SMALLMONEY
		 WHEN SystemTypeId = 104 THEN CONVERT(VARCHAR(MAX),CONVERT (BIT,CONVERT(BINARY(1), ColumnHexValue)%2))  -- BIT
		 WHEN SystemTypeId = 62 THEN  RTRIM(LTRIM(STR(CONVERT(FLOAT,SIGN(CAST(CONVERT(VARBINARY(8000),Reverse(ColumnHexValue)) AS BIGINT)) * (1.0 + (CAST(CONVERT(VARBINARY(8000),Reverse(ColumnHexValue)) AS BIGINT) & 0x000FFFFFFFFFFFFF) * POWER(CAST(2 AS FLOAT), -52)) * POWER(CAST(2 AS FLOAT),((CAST(CONVERT(VARBINARY(8000),Reverse(ColumnHexValue)) AS BIGINT) & 0x7ff0000000000000) / EXP(52 * LOG(2))-1023))),53,LEN(ColumnHexValue)))) --- FLOAT
		 When SystemTypeId = 59 THEN  Left(LTRIM(STR(CAST(SIGN(CAST(CONVERT(VARBINARY(8000),REVERSE(ColumnHexValue)) AS BIGINT))* (1.0 + (CAST(CONVERT(VARBINARY(8000),Reverse(ColumnHexValue)) AS BIGINT) & 0x007FFFFF) * POWER(CAST(2 AS Real), -23)) * POWER(CAST(2 AS Real),(((CAST(CONVERT(VARBINARY(8000),Reverse(ColumnHexValue)) AS INT) )& 0x7f800000)/ EXP(23 * LOG(2))-127))AS REAL),23,23)),8) --Real
		 WHEN SystemTypeId IN (165,173) THEN (CASE WHEN CHARINDEX(0x,cASt('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'VARBINARY(8000)')) = 0 THEN '0x' ELSE '' END) +cASt('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'varchar(max)') -- BINARY,VARBINARY
		 WHEN SystemTypeId = 34 THEN (CASE WHEN CHARINDEX(0x,cASt('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'VARBINARY(8000)')) = 0 THEN '0x' ELSE '' END) +cASt('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'varchar(max)')  --IMAGE
		 WHEN SystemTypeId = 36 THEN CONVERT(VARCHAR(MAX),CONVERT(UNIQUEIDENTIFIER,ColumnHexValue)) --UNIQUEIDENTIFIER
		 WHEN SystemTypeId = 231 THEN CONVERT(VARCHAR(MAX),CONVERT(sysname,ColumnHexValue)) --SYSNAME
		 WHEN SystemTypeId = 241 THEN CONVERT(VARCHAR(MAX),CONVERT(xml,ColumnHexValue)) --XML
		 WHEN SystemTypeId = 189 THEN (CASE WHEN CHARINDEX(0x,cASt('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'VARBINARY(8000)')) = 0 THEN '0x' ELSE '' END) +cASt('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'varchar(max)') --TIMESTAMP
		 WHEN SystemTypeId = 98 THEN --sql_variant
			CASE
				 WHEN CONVERT(INT,SUBSTRING(ColumnHexValue,1,1)) = 56 THEN CONVERT(VARCHAR(MAX), CONVERT(INT, CONVERT(BINARY(4), REVERSE(Substring(ColumnHexValue,3,Len(ColumnHexValue))))))  -- INTEGER
				 WHEN CONVERT(INT,SUBSTRING(ColumnHexValue,1,1)) = 108 THEN CONVERT(VARCHAR(MAX),CONVERT(numeric(38,20),CONVERT(VARBINARY(1),Substring(ColumnHexValue,3,1)) +CONVERT(VARBINARY(1),Substring(ColumnHexValue,4,1))+CONVERT(VARBINARY(1),0) + Substring(ColumnHexValue,5,Len(ColumnHexValue)))) --- NUMERIC
				 WHEN CONVERT(INT,SUBSTRING(ColumnHexValue,1,1)) = 67 THEN LTRIM(RTRIM(CONVERT(VARCHAR(max),ColumnHexValue))) --VARCHAR,CHAR
				 WHEN CONVERT(INT,SUBSTRING(ColumnHexValue,1,1)) = 36 THEN CONVERT(VARCHAR(MAX),CONVERT(UNIQUEIDENTIFIER,Substring((ColumnHexValue),3,20))) --UNIQUEIDENTIFIER
				 WHEN CONVERT(INT,SUBSTRING(ColumnHexValue,1,1)) = 61 THEN CONVERT(VARCHAR(MAX),CONVERT(DATETIME,CONVERT(VARBINARY(8000),REVERSE (Substring(ColumnHexValue,3,LEN(ColumnHexValue)) ))),100) --DATETIME
				 WHEN CONVERT(INT,SUBSTRING(ColumnHexValue,1,1)) = 68 THEN '0x'+ SUBSTRING((CASE WHEN CHARINDEX(0x,cASt('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'VARBINARY(8000)')) = 0 THEN '0x' ELSE '' END) +cASt('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'varchar(max)'),11,LEN(ColumnHexValue)) -- BINARY,VARBINARY
			END
		END AS FieldValue
		,ColumnLength
		,ColumnHexValue
		,RowLogContents
	FROM #ColumnDataHexValue 
	ORDER BY NullBit

	-- select * FROM #FinalData

	--Create the column name in the same order to do pivot table.
	DECLARE 
		@FieldNames VARCHAR(MAX),
		@MaxFieldNames VARCHAR(MAX)

	SELECT 
		@FieldNames = STRING_AGG(FieldName, ','),
		@MaxFieldNames = STRING_AGG('MAX('+ FieldName +') AS ' + FieldName, ',')
	FROM #FinalData
	--SELECT @MaxFieldNames

 
	--Finally did pivot table and get the data back in the same format.
 	DECLARE @SQL NVARCHAR(MAX)
	SET @sql = 'SELECT RowId,' + @MaxFieldNames  + ' FROM #FinalData PIVOT (Min([FieldValue]) FOR FieldName IN (' + @FieldNames  + ')) AS pvt GROUP BY RowId'
	EXEC sp_executesql @sql

	/*
	Check errors:
	- Operand type clash: nvarchar(max) is incompatible with image
	- Cannot insert an explicit value into a timestamp column. 
		Use INSERT with a column list to exclude the timestamp column, or insert a DEFAULT into the timestamp column.

	DECLARE @SchemaTableName NVARCHAR(100) = 'dbo.Test_Table2'
	SET @sql = 'INSERT INTO ' + @SchemaTableName + ' SELECT ' + @MaxFieldNames  + ' FROM #FinalData PIVOT (Min([FieldValue]) FOR FieldName IN (' + @FieldNames  + ')) AS pvt GROUP BY RowId'
	EXEC sp_executesql @sql
	*/
 
/*
END
*/

